@import "../core/variables";

.secondFieldset {
  border: none;
  padding: 10px 0 50px;

  &__select {
    margin: 0 15px;
    list-style: none;
    height: 22px;
    border: 2px solid $colorSecondary;
    background-color: $colorMain;
  }
}
