// fonts
$fontTitles: 'Roboto Slab', serif;
$fontMain: 'Roboto', sans-serif;

// colors
$colorMain: #fff;
$colorText: #000;
$colorTextSecondary: #4a4a4a;
$colorSecondary: #eff9ff;
$colorTertiary: #304268;
$colorButtons: #f26002;
$colorSmall: #8ccbea;
$colorMenu: #0271bc;

